$font-path:"fonts" !default;
$font-family: "siyuan", "Microsoft YaHei", "SimSun", "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
$gray-bb: #bbbbbb;
$gray-cc: #cccccc;
$gray-e6: #e6e6e6;
$gray-ed: #ededed;
$gray-73: #737373;
$gray-55: #555555;
$gray-66: #666666;
$gray-77: #777777;
$gray-dd: #dddddd;
$gray-ee: #eeeeee;
$blue-d3:#d3e6f0;
$blue-84:#84d1f7;
$blue-8b:#8bcdf6;
$blue-04:#043b56;
$black: #000000;
$white: #ffffff;
$green: #00c76c;
$red: #eb5352;
$errorred: #e0345a;
$chief_bg_color: #edf0f3;
$main-normal-color:#2d8cc8;
$main-active-color:#f08654;
$main-active-thin-color:#ece1db;
$main-history-active-color:#81bade;
$main-blue-color: #2a83ff;
$main-active-light-color:#f2e3da;
$main-table-hover-color:#fdf3ee;

$login-bg-color: #E5E9F4;
$login-main-bg-color: #e3e9f4;
$login-main-border-color: #9ac0f9;
$login-box-input-focus: #2a83ff;
$login-btn-bg-color: #2c6cb7;
$login-role-checked: #2a83ff;

$header-bg-color: #1f4071;
$header-active-color: #ffffff;
$header-active-bgcolor: #1f4071;
$header-font-color: #6b9bb2;

$main-left-bgcolor:#ebf2f5;
$main-left-fontcolor:#337ab7;
$main-border-color:#cee5f0;
$main-nav-bgcolor:#e2eff6;
$main-nav-vline-bgcolor:#a3c7d9;
$main-btn-border-color:#4789b3;