.todomain-todos {
    @include size(550px);
    background-color: $white;
    text-align: center;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1));

    button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        font-size: 100%;
        vertical-align: baseline;
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        -webkit-appearance: none;
    }

    input, button {
        outline: none;
        &:focus {
            outline-width: 0;
        }
    }

    h1 {
        font-size: 100px;
        color: rgba(175, 47, 47, 0.15);
    }
}